* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.global {
    display: flex;
}

.photo {
    flex: 1;
    background-image: url(https://images.unsplash.com/photo-1531685250784-7569952593d2?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    border: 0.1em dashed black;
    height: 50em;
    background-position: bottom;
    background-repeat: no-repeat;
}

.color {
    flex: 1;
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(152, 89, 0, 0.8));
}

.color p {
    margin: 2%;
}

.circle {
    background-image: url(https://images.unsplash.com/photo-1531315630201-bb15abeb1653?q=80&w=435&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    height: 30em;
    background-position: center; /*Equivale a 50% 50%*/
    border-radius: 10em;
}