/*etiqueta*/
h1 {
    color: red;
    background-color: white;
}

/*id*/
#t1 {
    color: green;
}

#t2 {
    color: blue;
}

#t3 {
    color: pink;
}

/*clases*/
.tgray {
    color: gray;
}

h3.tbrown {
    color: brown;
}

body {
    background-color: rgb(202, 255, 237);
}