* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 300%;
    border: 30px;
}

.p1 {
    background-color: red;
    padding: 50px 10px 50px 10px;
    margin: 80px;
    border-style: solid;
    border-color:chocolate;
    border-radius: 4px;
    width: 50%;
    display: inline-block; /*Lo convierte en elemento de línea*/
}

.p2 {
    background-color: green;
    border-style: solid;
    border-color:chocolate;
    border-radius: 4px;
    display: inline-block;
}