* {
    border: 0; /*Es recomendable también poner el border a 0*/
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.5em;
}

div {
    padding-left: 1%;
}

.static {
    background-color: burlywood;
    position: static; /*No se mueve aunque se dea valores en top, bottom, left...*/
}

.relative {
    background-color: cadetblue;
    position: relative; /*No se mueve aunque se dea valores en top, bottom, left...*/
    top: 0.5em;
    left: 0.5em;
    padding-bottom: 50%;
}

.absolute {
    background-color: lightcoral;
    position: absolute; /*Se ubica en función al contenedor que lo contiene, en este caso body*/
    top: 22em;
    left: 10em;
    padding-right: 1.5%;
    padding-bottom: 30%;
}

.sticky {
    background-color: seagreen;
    position: sticky; /*Se queda fijado a donde se indique*/
    top: 0;
}

.space {
    padding-bottom: 150%;
}

.fixed {
    background-color: rebeccapurple;
    position: fixed;
    right: 0;
    top:0;
}