h1 {
  font-family: "Playwrite CO", cursive;
  text-align: center;
  color: #89c6e4;
  text-shadow: 2px 2px 0px rgb(0, 34, 94); /*El tercer valor es el difuminado*/
  font-size: 40px;
}

p {
    font-family: "Kanit", sans-serif;
    text-align: justify;
    font-size: 14px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/*Pseudoelemento*/
p::first-letter{
    font-size: 30px;
    color: #89c6e4;
    text-shadow: 2px 2px 0px rgb(0, 34, 94);
}

a {
    text-decoration: none;
    color:#89c6e4;
    font-weight: bold;
}

/*Pseudoclase*/
a:hover {
    color:#1e5c7b;
}

.underline {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.border {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    /*Equivale a margin: 5% 10% 0% 10%*/
    border: 3px dotted black;
}