:root {
    --title: rgba(40, 32, 32, 0.855);
    --texts: rgb(26, 140, 254);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    text-align: center;
    background-color: rgb(255, 232, 235);
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 0.5em;
    padding-bottom: 1em;
    color: var(--title);
}

.container {
    display: flex;
    margin-bottom: 1em;
}

.text {
    font-family: 'Courier New', Courier, monospace;
    color: var(--texts);
    margin-right: 1em;
    border-color: black;
    border-style: solid;
    border-width: 0.1em;
}

.square {
    background-color: rgb(0, 118, 118);
    border-color: black;
    border-style: solid;
    border-width: 0.1em;
    width: 30em;
    border-radius: 1em;
    margin-left: 1em;
    margin-right: 1em;
}